<nav class="navbar navbar-default navbar-fixed-top text-uppercase">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://josephtran.io/">josephtran.io</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page? root_path %>"><%= link_to "Shows", root_path %></li>
        <li class="<%= 'active' if current_page? new_show_path %>"><%= link_to "Add Show", new_show_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li><%= link_to "Admin Tools", users_path %></li>
          <% else %>
            <li><%= link_to "Request Admin", user_request_admin_path %></li>
          <% end %>
          <li><%= link_to "Account", edit_user_registration_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="<%= 'active' if current_page? new_user_session_path %>"><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
