<%= form_for(show) do |f| %>
  <% if show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: :name, required: true %>
  </div>

  <div class="form-group">
    <%= f.label :season %>
    <%= f.number_field :season, class: "form-control", placeholder: :season %>
  </div>

  <div class="form-group">
    <%= f.label :episode %>
    <%= f.number_field :episode, class: "form-control", placeholder: :episode %>
  </div>

  <div class="form-group">
    <%= f.label :tvdb_id, "TVDB ID" %>
    <%= f.text_field :tvdb_id, class: "form-control", placeholder: "TVDB ID" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
