<!DOCTYPE html>
<html>
  <head>
    <title>Shows To Watch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="container">
      <% if notice %>
        <div class="alert alert-info"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
    <footer class="footer navbar-fixed-bottom">
			<div class="container text-center">
				<small>
					The source code for this app can be viewed <a href="https://github.com/JotraN/shows-to-watch">here</a>.
					Images are taken from <a href="http://thetvdb.com/">the TVDB</a>. 
					I request that any of this application's users help contribute information and artwork to <a href="http://thetvdb.com/">the TVDB</a>.
				</small>
			</div>
    </footer>
  </body>
</html>
